/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            &kp Q      &kp W          &kp E      &kp R
            &kp A      &kp S          &kp D      &kp F
            &kp Z      &kp X          &kp C      &kp V
            &kp SPACE  &kp ENTER      &kp TAB    &kp ESC
            >;
        };
    };
};

